.article-detailed
 = image_tag(@article.image)
 %h1
  = @article.title.html_safe
 %p
  = @article.text.html_safe
 %p.tag 
  = 'Category:'
  = @article.tag
 .mini-footer
  = link_to 'Back', news_news_path, class: "btn btn-info btn-back"
  = @article.created_at.strftime("%d/%m/%Y")
 = render @article.comments
 = render 'comments/form'