.jumbotron.intro
.jumbotron.col-lg-12.first-home-part
 %h1 Last article
 %hr
 .single_article
  -if @article
   = link_to image_tag(@article.image.variant(resize: "500x400")), @article
   %h1
    = @article.title.html_safe
   %p
    = @article.text.at(0..275).html_safe
    = '...'
    = link_to 'Read more', @article
   .mini-footer
    = @article.created_at.strftime("%d/%m/%Y")
  -else
   = "Sorry no articles yet"
 %hr