!!!
%html
  %head
    %title Maksite
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico' 
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Inconsolata%7CLato%7CLora%7CManuale'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'https://use.fontawesome.com/5b6b4589c6.js'
  %body
    #background
      .row
        %nav.navbar.navbar-inverse.navbar-expand-lg.navbar-dark.bg-dark.navbar-left
          %ul.nav.navbar-nav.navbar-left
            %li.nav-item.btn
              = link_to raw("<i class=\"fa fa-home\"></i>"),root_path,:class =>'navbar-brand active', :method => :get
          %button.navbar-toggler{ "data-toggle"=>"collapse", "data-target" => "#navbarNavDropdown", "aria-controls" => "navbarNavDropdown", "aria-expanded" => "true", "aria-label" => "Toggle navigation"}
            %span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarNavDropdown
            %ul.nav.navbar-nav.navbar-right
              %li.nav-item.btn 
                = link_to "News", news_news_path, :class =>'nav-link'
              %li.nav-item.btn
                = link_to "About me", about_about_path, :class =>'nav-link'
              %li.nav-item.btn
                = link_to "Contact", contact_contact_path, :class =>'nav-link'  
              %li.nav-item.btn
                = link_to "Links", links_links_path, :class =>'nav-link'
      .maincontainer
        = yield 
        %p.notice
          = notice
        %p.alert
          = alert
      %footer.footer-dark.bg-dark
        %h1{:style=>"font-size: 20px;"}
          = raw('Maksym Zieliński') 
          = Time.current.year
          = "&copy;".html_safe
        = link_to '<i class="fa fa-linkedin-square" aria-hidden="true"></i>'.html_safe, "https://pl.linkedin.com/in/maksym-zieliński-077747133", :id => "linked-icon" 
        = link_to '<i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe, "https://www.facebook.com/maksym.zielinski.3", :id => "facebook-icon"
        = link_to '<i class="fa fa-linode" aria-hidden="true"></i>'.html_safe, "https://www.linode.com", :id => "linode-icon"
        = link_to '<i class="fa fa-diamond" aria-hidden="true"></i>'.html_safe, "https://www.ruby-lang.org/", :id => "ruby-icon"
        = link_to '<i class="fa fa-wrench" aria-hidden="true"></i>'.html_safe, articles_path, :id => "wrench-icon"
        - if current_admin
          = link_to '<i class="fa fa-power-off" aria-hidden="true"></i>'.html_safe, destroy_admin_session_path, :id => "off-icon", method: :delete
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}